.seccion-1{
    h4{
        font-family: $font-1;
        font-size: $large;
        font-weight: $fontweight-3;
        color : $color8;
    }
}

.seccion-1{
    p{
        font-family: $font-2;
        font-size: $large;
        font-weight: $fontweight-2; 
        color : $color8;
    }
}

.seccion-1{
    span{
        color: $color5;
    }
}