//colores
$color1: #FFF;
$color2: #E6E7E7;
$color3: #D1D1D1;
$color4: #E56353;
$color5: #D76C69;
$color6: #ECBCBA;
$color7: #121619;
$color8: #6C6E70;

//typografias
$font1: 'Roboto' ,sans-serif;
$font2: 'Playfair display' ,serif;

//font-size
$xx-large:'70px';
$x-large:'30px'; 
$large:'18px';
$medium:'16px';
$small:'12px';

