$font-1 : 'Playfair Display', serif;
$font-2 : 'Roboto', sans-serif;

$fontweight-1 : 900;
$fontweight-2 : 400;
$fontweight-3 : 300;

$xx-large : 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px; 

$fontstyle-1: italic;